@media screen and (min-width:50px) and (max-width: 680px){

	/*for testing only
	nav h1{
		background-color:blue;
	}*/
	
	nav h1 a{
		font-size:18pt;
		letter-spacing:2px;
	}

	#map {
  		height: 250px;
  		width: 100%;
	}
	
	.filter-options{
		height:94px;
	}	
	
	#cuisines-select{
		left:140px;
		top: 40px;
	}

	#restaurants-list li {
		width: 80%;
	}
	
	/* restaurant page section*/
	.inside #mapgroup{
	min-width:200px;
	margin-bottom:30%;
	}
	.inside #imagegroup{
	width:80%;
	margin-right:15px;
	margin-bottom: 20px;
	}
	.inside #map-container {
  		width: 80%;
  		height: 150px;
	}
	#restaurant-hours{
		width: 85%;
	}
	#reviews-list{
		width: 85%;
		margin-left:auto;
		margin-right:auto;
	}
	#reviews-list li{
		margin-left:-15px;
	}
}

@media screen and (min-width:681px) and (max-width: 1100px){

	/*for testing only
	nav h1{
		background-color:green;
	}*/

	#map {
  		height: 200px;
  		width: 100%;
	}	

	#restaurants-list li {
		width: calc((90% - 150px) /2);
	}
	
	/* restaurant page section*/
	.inside #mapgroup{
	min-width:681px;
	height:300px;
	margin-bottom:25px;
	}
	.inside #imagegroup{
	width:35%;
	margin-right:15px;
	}
	.inside #map-container {
  		width: 40%;
  		height: 300px;
	}

}


@media screen and (min-width: 1101px){
	
	/*for testing only
	nav h1{
		background-color:purple;
	}*/

	#map {
  		height: 200px;
  		width: 100%;
	}
	
	#restaurants-list{
		max-width:1200px;
	}

	#restaurants-list li {
		width:calc((100% - 320px) / 3);
	}
}